<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h1>{{some_list}}</h1>

    <ul>
    {% for element in some_list %}
        <li>{{element}}</li>
    {% endfor %}
    </ul>


    {% comment %} <ul>
    {% for element in some_list %}
        <li>{{element}}</li>
    {% endfor %}
    </ul> {% endcomment %}

    {% comment %} 
    <h2>{{first_name}} {{last_name}}</h2>
    <h2>{{some_list}}</h2>
    <h2>{{some_list.0}}</h2> <!-- list . index -->
    <h2>{{some_dict}}</h2>
    <h2>{{some_dict.inside_key | upper}}</h2> <!-- dict . key --> 
     {% endcomment %}
</body>
</html>